body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input {
  padding: 0;
  border: none;
}

textarea {
  resize: none;
  border: none;
}

form {
  padding-top: 25px;
  margin: 0 auto;
}

form .item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

form .item:not(:first-child) {
  margin-top: 20px;
}


form .item label {
  flex: 0 1 10%;
  font-size: 14px;
  padding: 12px 5px;
  text-align: right;
  line-height: 1.5;
}

form .item input,
form .item textarea {
  flex: 0 1 30%;
  font-size: 14px;
  border: 1px solid skyblue;
  padding: 12px 5px;
}

.btn button {
  max-width: 40%;
  min-width: 100px;
  margin: 12px auto;
  display: block;
  padding: 12px 0;
  border: none;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  border-radius: 6px;
  background-color: skyblue;
  margin-top: 40px;
}